extends ../org

block org
    #setuser.panel-body
        form#user-form.form-horizontal(@submit.prevent='', v-on:onload='search()', role='form', method='post', action='/user/query')
            input#pageNo(type='hidden', name='page_pageNo', value='1')
            input#pageSize(type='hidden', name='page_pageSize', value='10')
            input#order(type='hidden', name='page_order', value='desc')
            input#orderBy(type='hidden', name='page_orderBy', value='id')
            input#state(type='hidden', name='filter_EQI_state', value='')
            input(type='hidden', name='orgIds', value='')
            input(type='hidden', name='orgIdPattern', value='eq')
            input(type='hidden', name='queryType', value='1')
            input(type='hidden', name='parentOrgId', value='', v-model='parentOrgId')
            .row
                .col-xs-5
                    .input-group.w200px.pull-left.m-y5
                        input.form-control(placeholder='输入名称关键字', @keyup='queryOfName', maxlength='100', name='fullname', type='text')
                        span.input-group-btn
                            button.btn.btn-tmbai.btn-sm(@click='search()') 检索
                .col-xs-7.text-right
                    .pull-right
                        button#add-settings-user-btn.btn.btn-tmbai.btn-sm(@click='goAdd')
                            i.fa.fa-plus
                            |  新增
                        button.btn.btn-tmbai.btn-sm(@click='enable')
                            i.fa-circle-thin.fa
                            |  启用
                        button.btn.btn-tmbai.btn-sm(@click='disable')
                            i.fa.fa-minus-circle
                            |  禁用
                        button.btn.btn-tmbai.btn-sm(data-target='', v-on:click='goDel')
                            i.fa.fa-minus
                            |  删除
        // 列表展示
        #table-top.zeta-table-bk
            table.table-striped.zeta-table(style='table-layout: fixed;')
                thead
                    tr.table-head
                        th.text-center(style='width:60px;') 序号 
                        th.text-left
                            span(title='姓名') 姓名
                            span
                        th.text-left
                            span(title='所属组织') 所属组织
                            span
                        th.text-left
                            span(title='角色') 角色
                            span
                        th.zeta-showno
                            span(title='省级负责人') 省级负责人
                            span
                        th.zeta-showno
                            span(title='片区负责人') 片区负责人
                            span
                        th.text-left(style='width: 200px;')
                            span(title='邮箱') 邮箱
                            span
                        th.rank-th.text-center
                            span(title='手机') 手机
                            span
                        th.rank-th.text-center(style='width: 55px;')
                            span(title='状态') 状态
                            span
                        th.rank-th.text-center(style='width: 50px;')  编辑 
                        th.rank-th.text-center(style='width: 50px;')  删除 
                        th.text-center(style='width:60px;')
                            input(type='checkbox')
                tbody
        #table-bottom.row(style='display: block;')
            div
                .col-sm-3.pageinfo.font14
                    | 共
                    span.totalRecord  0 
                    | 页 / 跳转到
                    input#currentPage(size='5', value='1', min='1', max='1000000000', style='border: none;background: #eee;padding: 0 5px 2px 5px;width:50px', type='number')
                    |  页
                    button.btn.btn-tmbai.btn-xs GO
                .col-sm-3.btn-group.text-center.btn-group-sm.page-size-group-btn(data-toggle='buttons')
                    label.btn.btn-default.btn-sm.pull-right(pagesize='50')
                        input#option3(name='options', autocomplete='off', type='radio')
                        | 50条
                    label.btn.btn-default.btn-sm.pull-right(pagesize='20')
                        input#option2(name='options', autocomplete='off', type='radio')
                        | 20条
                    label.btn.btn-default.btn-sm.pull-right.active(pagesize='10')
                        input#option2(name='options', autocomplete='off', type='radio')
                        | 10条
                nav#pagination-wrapper.col-sm-6.text-right
                    ul#pagination.pagination-sm.pagination(style='margin:0px;')
                        li.first
                            a(href='javascript:void(0);') 首页
                        li.disabled.prev
                            a(href='javascript:void(0);') 上一页
                        li.next
                            a(href='javascript:void(0);') 下一页
                        li.last
                            a(href='javascript:void(0);') 末页
        #catalog-modal.modal(role='dialog', tabindex='-1', aria-labelledby='catalog-modal', aria-hidden='true', style='display: none;')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(@click='hideadd', type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#dialog-title.modal-title 权限设置
                    .modal-body(style='padding-bottom:0px')
                        // 内容
                        form#catalog-form.form-horizontal.bv-form(novalidate='novalidate')
                            button.bv-hidden-submit(type='submit', style='display: none; width: 0px; height: 0px;')
                            .form-group.has-feedback
                                label.col-lg-3.control-label.font14.text-right 名称:
                                .col-lg-6
                                    input.form-control(name='catalogScore', placeholder='请输入权限名称')
                            .form-group.has-feedback
                                label.col-lg-3.control-label.font14.text-right 所属权限:
                                .col-lg-6
                                    input(name='originalCatalogType', value='', type='hidden')
                                    select.form-control.selectpicker(name='catalogType', title='选择任务类型', data-bv-field='catalogType')
                                        option(value='0') 系统设置
                                        option(value='1') 舆情管理
                                    i.form-control-feedback(style='display: none;', data-bv-icon-for='catalogType')
                                    small.help-block(style='display: none;', data-bv-validator='notEmpty', data-bv-for='catalogType', data-bv-result='NOT_VALIDATED') 请选择分类类型.
                            .form-group.has-feedback
                                label.col-lg-3.control-label.font14.text-right 地址:
                                .col-lg-6
                                    input.form-control(name='catalogScore', placeholder='请输入权限地址')
                            .form-group.has-feedback
                                label.col-lg-3.control-label.font14.text-right 图标:
                                .col-lg-6
                                    input.form-control(name='catalogScore', placeholder='请输入权限图标')
                            .form-group
                                label.col-lg-3.control-label.font14.text-right 状态:
                                .col-lg-9
                                    #role-status-radio.radio
                                        label.form-radio.form-icon.active
                                            input.ico-w-label(checked='', name='catalogStatus', value='1', type='radio')
                                            |  启用
                                        label.form-radio.form-icon
                                            input.ico-w-label(name='catalogStatus', value='0', type='radio')
                                            |  禁用
                            .modal-footer.text-center(style='margin:0 -15px')
                                button#closeDialog.btn.btn-default(@click='hideadd', data-dismiss='modal', type='button') 取消
                                button.btn.btn-bian.btn-labeled.fa.fa-check(@click='hideadd', type='button') 确定
    script(type='text/javascript').
        (function(){

            getUser();

            //获取表格数据
            function getUser(){
                var form=$("#user-form");
                var josn=JSON.stringify($(form).serializeObject());
                vueUI.ajaxCall({
                    url:vueUI.conf.host+$(form).attr("action"),
                    data:josn,
                    type:"POST",
                    success:function(rsp){
                        filetable(rsp.data);
                        setpage(rsp.data)
                    }
                });
            };

            //填充表格
            function filetable(data){
                var r=data.result;
                var table=$("#setuser table");
                $("tbody tr",table).remove();
                for(var i=0;i<r.length;i++){
                    var row=$("<tr>");
                    row.append($("<td>").html((data.pageNo-1)*data.pageSize+i+1));
                    row.append($("<td>").html(r[i].fullname));
                    row.append($("<td>").html("<div class='label label-success text-lg' title='"+r[i].orgNames+"'>"+r[i].orgNames+"</div>"));
                    row.append($("<td>").html(r[i].roleNames));
                    row.append($("<td>").html(r[i].email));
                    row.append($("<td>").html(r[i].mobile));
                    if(r[i].state==1){
                        row.append($("<td>").html("启用"));
                    }else{
                        row.append($("<td>").html("停用"));
                    };
                    row.append($("<td>").html('<a href="javascript:void(0)"><i class="fa-lg fa-pencil-square-o fa btn"></i></a>'));
                    row.append($("<td>").html('<a href="javascript:void(0)"><i class="fa-lg fa-trash fa btn"></i></a>'));
                    row.append($("<td class='text-center'>").html('<input name="checkbox2" value="'+r[i].id+'" type="checkbox">'));
                    $("tbody",table).append(row);
                }
            };

            //设置分页信息
            function setpage(data){
                var arr=getPages(data);

                $("#table-bottom span.totalRecord").html(data.totalPages);
                if(data.hasPre==true){
                    $("#table-bottom ul#pagination li.first").removeClass("disabled");
                    $("#table-bottom ul#pagination li.prev").removeClass("disabled")
                }else{
                    $("#table-bottom ul#pagination li.first").addClass("disabled");
                    $("#table-bottom ul#pagination li.prev").addClass("disabled")
                };
                if(data.hasNext==true){
                    $("#table-bottom ul#pagination li.next").removeClass("disabled");
                    $("#table-bottom ul#pagination li.last").removeClass("disabled")
                }else{
                    $("#table-bottom ul#pagination li.next").addClass("disabled");
                    $("#table-bottom ul#pagination li.last").addClass("disabled")
                };

                for(var i=0;i<arr.length;i++){
                    if(arr[i]==data.pageNo){
                        $("#table-bottom ul#pagination li.prev").after('<li class="page active"><a href="javascript:void(0);">'+arr[i]+'</a></li>');
                    }else{
                        $("#table-bottom ul#pagination li.prev").after('<li class="page"><a href="javascript:void(0);">'+arr[i]+'</a></li>');
                    }
                }
            };

            //生成分页信息
            function getPages(dt){
                var view=5;
                var total=dt.totalPages;
                var now=dt.pageNo;
                var arr=[];
                if(total>view){
                    var half = Math.floor(view / 2);
                    var start = now - half + 1 - view % 2;
                    var end = now + half;

                    // handle boundary case
                    if (start <= 0) {
                        start = 1;
                        end = view;
                    }
                    if (end > total) {
                        start = total - view + 1;
                        end = total;
                    }
                    for(var i = start;i<=end;i++){
                        arr.push(i)
                    }
                }else{
                    for(var i=0;i<total;i++){
                        arr.push(i+1);
                    }
                };
                return arr.reverse();
            };
        })()